---
---

$doc-font-size: 15px;
$doc-font-size-medium: $doc-font-size * 1.125;
$doc-font-size-large: $doc-font-size * 1.25;
$doc-font-size-x-large: $doc-font-size * 1.375;

/* Defaults used in Minimal mistakes */
$default-sans-serif: Pretendard, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$default-serif: Pretendard, Georgia, Times, serif;
$default-monospace: "JetBrains Mono", Pretendard, Monaco, Consolas, "Lucida Console", monospace;

/* Emoji native from modern font stack - add to the end of the font-face for native emojis */
$emoji-native: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

/* system typefaces */
$serif: $default-serif;
$sans-serif: $default-sans-serif;
$sans-serif-narrow: $sans-serif;
$monospace: $default-monospace;

$global-font-family: $sans-serif;
$header-font-family: $sans-serif;
$caption-font-family: $serif;

@import "minimal-mistakes";

.page__content {
   p,
  li,
  dl {
    font-size: 0.9em;
  }
}

div.highlighter-rouge, figure.highlight {
   font-size: 0.65em;
}

.sidebar p, .sidebar li {
   font-size: 0.8em;
}